// default //

//global
// @import "./sass/fonts";

@import "./sass/reboot";

//mixins
@import "./sass/mixins";

//variables
@import "./sass/variables";

// custom
// blocks
@import "./sass/blocks/main-container";

html {
  font-family: 'Roboto';
}

body {
  background-color: rgb(136, 0, 255);
}

.comment__wrapper {
  font-family: 'Roboto';
}

.comment__input-label {
  font-family: 'Prata';
  font-size: 30px;
}
